
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commit</key>
	<string>93e235784be2a19e0e9656108cdcd8cecf2e1ce6</string>
	<key>emuuid</key>
	<string>9466ba13838063baf45ffac9276bb3cd</string>
</dict>
</plist>

    
