
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commit</key>
	<string>3da7befcdd927ac036ee3e1d2bc99784ad07aa04</string>
	<key>emuuid</key>
	<string>1e702f0b0470e5d339cfa3aecffadb76</string>
</dict>
</plist>

    
