
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commit</key>
	<string>f1887dae2406d8e0abfc84f14aa52b7e0ed1ebe4</string>
	<key>emuuid</key>
	<string>b90a5762fab7a020b98e5ecc4edbac8b</string>
</dict>
</plist>

    
