.git
.vs
.vscode
build
build-
sdkpublic
**/out/**
**/log/**


*.assemblyreference.cache
*.aps
*.d
*.dll
*.exe
*.exe.recipe
*.exp
*.idb
*.ilk
*.lastbuildstate
*.lib
*.log
*.map
*.obj
*.pdb
*.recipe
*.res
*.tlog
*.tmp
*.vcxproj.FileListAbsolute.txt
*.vcxproj.user
