.DS_Store
node_modules/
.npm
*.log*
*.pid
*.pid.*
*.report
.sonarlint
.idea/
.yarn-integrity
.lock-wscript
*.tsbuildinfo
.eslintcache
.node_repl_history
.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json
dist/
coverage/
lib-cov
*.lcov
.nyc_output
.history
.pnp
.pnp.js
.env.*.local
.rts*
output/
output_resource/

**/*/adapters/index.ts
**/*/adapters/index.js
src/node_modules
release
dist

.demo-tool/
veGameSDK-Web.js
